{
  "user1": {
    "firstname": "John",
    "lastname": "Do",
    "placeofbirth": "US",
    "address": "3 street",
    "city": "NY",
    "zipcode": "090900",
    "birthday": "01/01/1970"
  },
  "user2": {
    "firstname": "John",
    "lastname": "Do",
    "placeofbirth": "US",
    "address": "3 street",
    "city": "NY",
    "zipcode": "090900",
    "birthday": "01/01/1970"
  },
}
